<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>About Page</title>
</head>
<body>
<!-- navigation -->
  <header>
    <nav>
      <div class="nav_brand">
        <div class="brand_name">
          <h4>Uniscrore Pro</h4>
        </div>
      </div>
      <div class="nav_links">
        <ul>
          <a href="/ ">
            <li class="links">Home</li>
          </a>
          <a href="/login ">
            <li class="links">Log In</li>
          </a>
          
        </ul>
      </div>
    </nav>
  </header>
<!-- end of navigation  -->

<!-- body -->
<div class=" main-containerr form-containerr">
    <div class="containerr" id="about">
        <div class="md-card">
            <div class="md-card-header"><img src="https://placehold.co/600x400.png" alt=""></div>
            <div class="md-card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum qui alias esse ad ipsa. Atque consequatur ullam amet quaerat debitis placeat ea iste. Maiores veritatis eaque magnam unde inventore.</p>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-header"><img src="https://placehold.co/600x400.png" alt=""></div>
            <div class="md-card-body">
                <p>Adipisci libero esse dolore magnam fuga, asperiores perspiciatis dolorem veniam deleniti sed vel laudantium quisquam aspernatur blanditiis, reprehenderit quae. Consequuntur sit sunt reiciendis distinctio voluptate numquam </p>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-header"><img src="https://placehold.co/600x400.png" alt=""></div>
            <div class="md-card-body">
                <p>Accusantium saepe exercitationem vero. Soluta quod quis unde dolorum magni harum alias quisquam velit non eius molestiae, consequatur quam tenetur libero distinctio! Quis velit ab architecto mollitia ad qui tenetur!</p>
            </div>
        </div>
      
    </div>
</div>
<div class="snackbar">
  <p class="message">
   
  </p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/index.js"></script>

</body>
</html>