<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>Landing Page</title>
</head>
<body>
<!-- navigation -->
  <header>
    <nav>
      <div class="nav_brand">
        <div class="brand_name">
          <h4>Uniscrore Pro</h4>
        </div>
      </div>
      <div class="nav_links">
        <ul>
          
          <a href="/about ">
            <li class="links">About</li>
          </a>
          
        </ul>
      </div>
    </nav>
  </header>
<!-- end of navigation  -->

<!-- body -->
<div class=" main-containerr hero-wrapper">
  <div class="hero">
    <div class="hero-image">
      <img src="/img/logo.png" alt="">
    </div>
  </div>
  <div class="hero-description">
    <div class="box">
      <h1>Elevating Academic Excellence,
        One Result at a Time.</h1>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
      <div class="box-footer">
        <div class="box-footer-left">
          <a href="/login " class="btnn text-white"> 
            Continue <i class="bi bi-arrow-right"></i>
          </a>
          
        </div>
        <div class="box-footer-right">
          <img src="/img/Group 409.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="snackbar">
  <p class="message">
   
  </p>
</div>
  <script src="/index.js"></script>
</body>
</html>